{% extends 'base.html.twig' %}

{% block title %}Édition d'un livre
{% endblock %}

{% block body %}

	<div class="col-10 offset-1my-5">
		<div class="card border-success col-6 mx-auto">
			<div class="card-body">
				<h4>Modification de :
				</h4>
				<h3>{{book.titre}}</h3>
				{{ form_start(form)}}
				{{ form_widget(form)}}

				<button type="submit" class="btn btn-primary">Modifier</button>

				{{ form_end(form)}}
			</div>
		</div>
	</div>

{% endblock %}
