{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}


{% block body %}
	<div class="col-4 offset-4 mt-5">
    <h2 class="text-center">Recherche</h2>
		<form class="text-center">
			<input name="q" class="form-control mt-5 form-lg col-6" type="search">
			<input type="submit" class="btn btn-primary my-3" value="Rechercher">
		</form>
	</div>

{% endblock %}
