a{text-decoration: none;color:white;}
.footer{color:black;min-height: 5em;}
.nav-link{font-size: larger;}
.caroussel .item .active{max-height: 30%;}

.card:hover{background-color: grey;}
.card{background-image: url(../images/livre-2.jpg);}
